		collection float(3) f {			label "FloatArrayLabel"			description "No description."			drawmode all			state open			parameter float f0 {				default 1				range {0 1 0.05}				detail varying				}			parameter float f1 {				default 1				range {0 1 0.05}				detail varying				}			parameter float f2 {				default 1				range {0 1 0.05}				detail varying				}			}