		collection color(3) col {			label "ColorArrayLabel"			description "No description."			drawmode all			state open			parameter color col0 {				default {1 1 1}				detail varying				}			parameter color col1 {				default {1 1 1}				detail varying				}			parameter color col2 {				default {1 1 1}				detail varying				}			}