		collection vector(3) vec {			label "VectorArrayLabel"			description "No description."			drawmode all			state open			parameter vector vec0 {				default {0 0 0}				detail varying				}			parameter vector vec1 {				default {0 0 0}				detail varying				}			parameter vector vec2 {				default {0 0 0}				detail varying				}			}