		collection point(3) pnt {			label "PointArrayLabel"			description "No description."			drawmode all			state open			parameter point pnt0 {				default {0 0 0}				detail varying				}			parameter point pnt1 {				default {0 0 0}				detail varying				}			parameter point pnt2 {				default {0 0 0}				detail varying				}			}