slim 1 extensions AUTHOR {
extensions STUDIO PREFIX {
	template multiple UNTITLED_MULTI {
		description {
			Description of the node goes here.
			}
		previewinfo {
			shadingrate 1
			objectsize 1
			objectshape Sphere
			frame 1
			}
		#__custom parameters Begin____________


		#__custom parameters End______________

		parameter float result1 {
			label "Float Out"
			access output
			display hidden
			}
		parameter color result2 {
			label "Color Out"
			access output
			display hidden
			}
		RSLFunction {
		void cutrUNTITLED_MULTI (
			// parameter vars goes here...
			//
			output float result1;
			output color result2;
			)
		{
		result1 = 1;
		result2 = color(1,1,1);
		}
	}
}
}}
