		collection manifold Manifold {			description {The 'st' texture space.}			detail mustvary "pixar,ST"			state locked			parameter point Q {				detail mustvary				default point(s,t,0)				}			parameter vector dQu {				detail mustvary				}			parameter vector dQv {				detail mustvary				}			}