		parameter string coord_sys {			label "Coordinate System"			description {				Use either world, object, camera, current				or the name of a coordinate system that has				been added to the scene.				}			default world			provider variable			}