		parameter string filter_name {			label "Texture Filter"			description {				This is an example of splitting a				description  over several lines of text.				Don't use quotations. The text must begin				and end with curly brackets.				}			subtype selector			range {				box box				gaussian gaussian				disk disk				radial-bspline radial-bspline				}			default gaussian			}